<footer>
    <div class="footerinfo">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin-in"></i>

        </div>
        <div class="f-infobrand">&copy;wonderlust Prtivate Limited</div>
        <div class="f-info-links">


            <a href="/privacy" class="privacy">privacy
            </a>
        </div>                                                                      
    </div>
</footer>