<% layout("/layouts/boilerplate")%>
<body>
  <div class="container">
    <h1>Create a New Listing</h1>
    <div class="row ">
      <div class="col-12 offset-md-2 col-md-8">
        <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input id="title" name="listing[title]" class="form-control" placeholder="Enter your title" type="text" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea id="description" name="listing[description]" class="form-control" placeholder="Enter the description"  required></textarea>
          </div>

          
          <div class="mb-3">
            <label for="image" class="form-label">Uplode Image</label>
            <input id="image" name="listing[image]" class="form-control" placeholder="Enter the URL/link" type="file">
          </div>
          


          <div class="row">
            <div class="mb-3 col-md-4">
              <label for="price" class="form-label">Price</label>
              <input id="price" name="listing[price]" class="form-control" placeholder="Enter the price"  required>
              <div class="invalid-feedback">
                Please  enter valid price
              </div>
            </div>

            <div class="mb-3 col-md-8">
              <label for="country" class="form-label">Country</label>
              <input id="country" name="listing[country]" class="form-control" placeholder="Enter your country" type="text" required>
            </div>
            <div class="invalid-feedback">
                Please  enter the valid country name
          </div>

          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input id="location" name="listing[location]" class="form-control" placeholder="Enter your location" type="text" required>
            <div class="invalid-feedback">
                Please  enter valid location
          </div>

          <button class="btn btn-dark add-btn">ADD</button>
        </form>
      </div>
    </div>
  </div>
</body>
